body {
  width: 460px;
  font-family: arial;
}

#title {
  text-align: center;
  font-weight: normal;
  color: #F9F9F9;
  font-family: 'Jacques Francois', serif;
  letter-spacing: 3px;
  margin-bottom: .25em;
  margin-top: 0;
  padding: .25em 0;
  background-color: #49AFCD;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

#form {
  font-size: 12px;
}

.field-wrap {
  margin-bottom: 1em;
}

.field-label {
  padding-left: 3px;
  color: #777;
}

#search-links {
  padding-top: 5px;
}

#search-links a {
  text-decoration: none;
  display: block;
  padding: 5px;
  margin: 10px 0;
}

#search-links img.loader {
  margin: 130px auto;
  display: block;
}

#update-button-wrap {
  text-align: center;
}

.ui-combobox {
  position: relative;
  display: inline-block;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
}
.ui-combobox-input {
  margin: 0;
  padding: 0 0.3em;
  width: 110px;
}
.ui-button-icon-only {
  width: 1.5em;
}
.ui-autocomplete.ui-menu {
  font-size: 0.7em;
}